/*Font system and global vars*/
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
* {
    font-family: 'Press Start 2P', sans-serif;
    line-height: 24px;
}

/*Grid system for website*/
.grid-container {
    display: grid;
}

.grid-container.one-column {
 grid-template-columns: repeat(1 , 1fr);
}
.grid-container.two-column {
 grid-template-columns: repeat(2 , 1fr);
}
.grid-container.three-column {
 grid-template-columns: repeat(3 , 1fr);
}
.grid-container.four-column {
 grid-template-columns: repeat(4 , 1fr);
}

.grid-block.grid-block-full {
  grid-column-start: span 4;
}

@media (max-width: 1440px) {
    .grid-container.three-column,
    .grid-container.four-column {
        grid-template-columns: repeat(2 , 1fr);
    }
}

@media (max-width: 999px) {
    .grid-container.two-column,
    .grid-container.three-column,
    .grid-container.four-column {
        grid-template-columns: 1fr;
    }
}

body {
    background-color: black;
}

h1, h2, h3, h4 {
    font-size: 1.4rem;
    color: white;
    padding: 0.5rem;
}

a {
    color: green;
}

a:hover {
    color: black;
    background-color: green;
}

nav {
    background: white;
    position: sticky;
}

article {
    font-size: 16px;
    padding: 1rem;
    color: white;
}

pre {
  margin: 1rem 0;
  color: red;
}

.hp-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
